**/.nvim-session/
**/.cache

**/*.log
**/*.o 
**/*.a
**/*.pcm 
**/*.bin 
**/*.elf
**/*.dump
**/*.iso
**/*.img

**/build32/**
**/build64/**

src/ProtectedMode/LongModePrep/kernel64_size.hpp
src/ProtectedMode/LongModePrep/kernel64_size.inc

**/*.gdb_history
**/.gdb_history

**/.zig-cache/*
