# .clang-format
# Language:        Cpp
IndentWidth:     4
UseTab:          ForIndentation
BreakBeforeBraces: Allman
# BreakBeforeBraces: Attach
AlignAfterOpenBracket: DontAlign
IndentPPDirectives: AfterHash
MacroBlockBegin: ''
MacroBlockEnd:   ''
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
IndentCaseLabels: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: None

# Align consecutive assignments on =
AlignConsecutiveAssignments: true
# Align consecutive declarations (optional for struct members)
AlignConsecutiveDeclarations: true
# Align trailing comments
AlignTrailingComments: true

# # Indent array braces nicely
BraceWrapping:
  AfterStruct: false
  AfterArray: false
#
# Control spaces inside braces
SpacesInContainerLiterals: true
# Column limit (set high so it doesn’t wrap)
ColumnLimit: 140
