CompileFlags:
  Add:
    # Target and architecture
    - --target=i686-elf
    - -m32

    # Freestanding / kernel-specific
    - -ffreestanding
    - -nostdlib
    - -fno-exceptions
    - -fno-rtti
    - -Wall
    - -Wextra
    - -fno-builtin
    - -fno-stack-protector
    - -fno-common

    # Include directories (match your build script)
    - -Ikernel
    - -Ireal16_wrappers
    - -Irealmode_functions
    - -Igdt
    - -Iidt
    - -Istdio
    - -Istdlib
    - -Iother
    - -Iruntime_code_analysis


    - -Idrivers/ps2/controller
    - -Idrivers/ps2/mouse
    - -Idrivers/ps2/keyboard
    - -Idrivers/ps2/keyboard/cpp
    - -Idrivers/usb/controller
    - -Iacpi

    - -Iz_otherLang/cpp/
    - -Iz_otherLang/zig/
    - -Iz_otherLang/rust/
# C files (default standard)
If:
  PathMatch: ".*\\.c$"
CompileFlags:
  Add:
    - -std=gnu23

# Override flags for C++ files
If:
  PathMatch: ".*\\.cpp$"
CompileFlags:
  Add:
    - -std=gnu++23
    - -fno-exceptions
    - -fno-rtti

# Optional per-file overrides for 16-bit realmode code
If:
  PathMatch: "realmode_functions/.*\\.c"
CompileFlags:
  Add:
    - -std=gnu99



Hover:
  ShowAKA: Yes
  Expand: Yes
