CompileFlags:
  Add:
    - --target=x86_64-elf
    - -ffreestanding
    - -nostdlib
    - -fno-exceptions
    - -fno-rtti
    - -Wall
    - -m64
    - -std=gnu99
Diagnostics:
  Suppress:
    - missing-prototypes
    - main
